Source: osx-arc-collection
Section: misc
Priority: extra
Maintainer: David Mohammed <fossfreedom@ubuntu.com>
Build-Depends: debhelper (>= 9),
 dh-buildinfo,
 pkg-config,
 libgtk-3-dev
Standards-Version: 3.9.8
Vcs-Browser: https://github.com/UbuntuBudgie/osx-arc-collection/tree/debian
Vcs-Git: https://github.com/UbuntuBudgie/osx-arc-collection -b debian
Homepage: http://github.com/UbuntuBudgie/osx-arc-collection

Package: osx-arc-white
Architecture: all
Depends: gnome-themes-standard, 
 gtk2-engines-murrine,
 ${misc:Depends}
Description: Flat theme collection with transparent elements
 OSX-Arc-White is part or a flat theme collection with transparent
 elements for GTK+ 3, GTK+ 2 which supports desktop environments 
 like GNOME, Unity, Budgie, Pantheon, Xfce, MATE, etc.
 .
 The OSX-Arc collection is available in four variants:
 OSX-Arc-White, OSX-Arc-Darker, OSX-Arc-Plus, OSX-Arc-Shadow

Package: osx-arc-shadow
Architecture: all
Depends: gnome-themes-standard, 
 gtk2-engines-murrine,
 ${misc:Depends}
Description: Flat theme collection with transparent elements
 OSX-Arc-Shadow is part or a flat theme collection with transparent
 elements for GTK+ 3, GTK+ 2 which supports desktop environments 
 like GNOME, Unity, Budgie, Pantheon, Xfce, MATE, etc.
 .
 The OSX-Arc collection is available in four variants:
 OSX-Arc-White, OSX-Arc-Darker, OSX-Arc-Plus, OSX-Arc-Shadow

Package: osx-arc-darker
Architecture: all
Depends: gnome-themes-standard, 
 gtk2-engines-murrine,
 ${misc:Depends}
Description: Flat theme collection with transparent elements
 OSX-Arc-Darker is part or a flat theme collection with transparent
 elements for GTK+ 3, GTK+ 2 which supports desktop environments 
 like GNOME, Unity, Budgie, Pantheon, Xfce, MATE, etc.
 .
 The OSX-Arc collection is available in four variants:
 OSX-Arc-White, OSX-Arc-Darker, OSX-Arc-Plus, OSX-Arc-Shadow

Package: osx-arc-plus
Architecture: all
Depends: gnome-themes-standard, 
 gtk2-engines-murrine,
 ${misc:Depends}
Description: Flat theme collection with transparent elements
 OSX-Arc-Plus is part or a flat theme collection with transparent
 elements for GTK+ 3, GTK+ 2 which supports desktop environments 
 like GNOME, Unity, Budgie, Pantheon, Xfce, MATE, etc.
 .
 The OSX-Arc collection is available in four variants:
 OSX-Arc-White, OSX-Arc-Darker, OSX-Arc-Plus, OSX-Arc-Shadow

Package: arc-osx-icon-theme
Architecture: all
Depends: ${misc:Depends},
 paper-icon-theme
Description: Icon theme that complements OSX-Arc Theme collection
 OSX-Arc-Collection is a flat theme collection with transparent
 elements for GTK+ 3, GTK+ 2 which supports desktop environments 
 like GNOME, Unity, Budgie, Pantheon, Xfce, MATE, etc.
 .
 The Arc-OSX-Icon-Theme contains two iconsets, one for
 the darker themes and the other for the lighter themes
